.pro_heading {
    text-align: center;
    margin: 0;
    border-top: 4px solid #77844c;
    background-color: #db9a59;
    color: #f4f2e6;
    padding: 3px 0 3px 0;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
}

.project-card {
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 250px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.project-preview {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.project-details {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 50%;
    padding: 10px;
}

.project-details h1 {
    margin: 0;
    font-size: 20px;
}

.project-langs {
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.lang-icon {
    width: 20px;
}

.project-description {
    text-align: justify;
    font-size: 15px;
}

.project-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Ensures space between buttons */
    margin-top: 10px;
    width: 100%; /* Makes sure buttons take full width */
}

.project-buttons a {
    text-decoration: none;
}

.project-action-button {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers content horizontally */
    gap: 2px;  /* Adjust spacing between text and image */
    height: 30px;
    width: 100px;
    padding: 5px 12px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #db9a59;
    color: #db9a59;
    transition: background-color 0.3s, transform 0.2s;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 400;
    font-size: 15px;
    border-radius: 5px;
}

.project-action-button:hover {
    background-color: #a56f3a;
    color: white;
    transform: scale(1.05);
}

.project-action-img {
    width: 20px;  /* Set a fixed width */
    height: 20px; /* Set a fixed height */
}

@media (max-width: 768px) {
    .project-card {
        position: relative;
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 0;
        overflow: hidden; /* Prevents any content from overflowing */
    }

    .project-preview {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        filter: blur(8px); /* Applies the blur effect */
        opacity: 0.5; /* Makes it slightly faded */
        z-index: 0; /* Ensures it's behind the content */
    }

    .project-details {
        position: relative;
        z-index: 1; /* Places it above the background */
        gap: 5px;
        width: 95%;
        text-align: center;
        background: rgba(255, 255, 255, 0.1); /* Adds a subtle transparent overlay */
        backdrop-filter: blur(5px); /* Slight blur for a glassmorphism effect */
        border-radius: 10px;
        margin: 5px 0 5px 0;
    }

    .project-description {
        line-height: 20px;
      }
    .project-buttons {
        display: flex;
        justify-content: center;
        gap: 10px; /* Ensures space between buttons */
        margin-top: 10px;
        width: 100%; /* Makes sure buttons take full width */
    }

    .project-action-button {
        display: flex;
        align-items: center;
        justify-content: center; /* Centers content horizontally */
        gap: 2px;  /* Adjust spacing between text and image */
        height: 30px;
        width: 100px;
        padding: 5px 12px;
        border: none;
        cursor: pointer;
        background: inherit;
        border: 2px solid #db9a59;
        color: #db9a59;
        transition: background-color 0.3s, transform 0.2s;
        font-family: 'Bricolage Grotesque', sans-serif;
        font-weight: 400;
        font-size: 15px;
        border-radius: 5px;
    }
}
